@font-face {
  font-family: 'Fifteen-Web';
  src: url('Fifteen-Regular.woff2') format('woff2'),
  url('Fifteen-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fifteen-Web';
  src: url('Fifteen-Italic.woff2') format('woff2'),
  url('Fifteen-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Fifteen-Web';
  src: url('Fifteen-Bold.woff2') format('woff2'),
  url('Fifteen-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fifteen-Web';
  src: url('Fifteen-BoldItalic.woff2') format('woff2'),
  url('Fifteen-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
