<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSOffsetHorizontal</key>
		<integer>15</integer>
		<key>GSOffsetVertical</key>
		<integer>15</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>7FFFFC20-A6C6-4833-9B51-8CEFF1D69495</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>uni00A0</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>uni00AD</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>acute</string>
		<string>uni00B5</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>uni00B9</string>
		<string>ordmasculine</string>
		<string>guillemotright</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
		<string>dotlessi</string>
		<string>OE</string>
		<string>oe</string>
		<string>Scaron</string>
		<string>scaron</string>
		<string>Ydieresis</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>ring</string>
		<string>uni2010</string>
		<string>uni2011</string>
		<string>figuredash</string>
		<string>endash</string>
		<string>emdash</string>
		<string>afii00208</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>Euro</string>
		<string>uni2219</string>
		<string>upblock</string>
		<string>uni2581</string>
		<string>uni2582</string>
		<string>uni2583</string>
		<string>dnblock</string>
		<string>uni2585</string>
		<string>uni2586</string>
		<string>uni2587</string>
		<string>block</string>
		<string>uni2589</string>
		<string>uni258A</string>
		<string>uni258B</string>
		<string>lfblock</string>
		<string>uni258D</string>
		<string>uni258E</string>
		<string>uni258F</string>
		<string>rtblock</string>
		<string>filledbox</string>
		<string>H22073</string>
		<string>uni25A3</string>
		<string>H18543</string>
		<string>H18551</string>
		<string>triagup</string>
		<string>uni25B3</string>
		<string>uni25B4</string>
		<string>uni25B5</string>
		<string>uni25B6</string>
		<string>uni25B7</string>
		<string>uni25B8</string>
		<string>uni25B9</string>
		<string>triagrt</string>
		<string>uni25BB</string>
		<string>triagdn</string>
		<string>uni25BD</string>
		<string>uni25BE</string>
		<string>uni25BF</string>
		<string>uni25C0</string>
		<string>uni25C1</string>
		<string>uni25C2</string>
		<string>uni25C3</string>
		<string>triaglf</string>
		<string>uni25C5</string>
		<string>H18533</string>
		<string>uni25FB</string>
		<string>uni25FC</string>
		<string>uni25FD</string>
		<string>uni25FE</string>
		<string>uni26A1</string>
		<string>uniE0A0</string>
		<string>uniE0A1</string>
		<string>uniE0A2</string>
		<string>uniE0B0</string>
		<string>uniE0B1</string>
		<string>uniE0B2</string>
		<string>uniE0B3</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>400</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>uni00A0</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>logicalnot</string>
		<string>uni00AD</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>acute</string>
		<string>uni00B5</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>uni00B9</string>
		<string>ordmasculine</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
		<string>OE</string>
		<string>oe</string>
		<string>Scaron</string>
		<string>scaron</string>
		<string>Ydieresis</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>circumflex</string>
		<string>ring</string>
		<string>uni2010</string>
		<string>uni2011</string>
		<string>figuredash</string>
		<string>endash</string>
		<string>emdash</string>
		<string>afii00208</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>uni2219</string>
		<string>upblock</string>
		<string>uni2581</string>
		<string>uni2582</string>
		<string>uni2583</string>
		<string>dnblock</string>
		<string>uni2585</string>
		<string>uni2586</string>
		<string>uni2587</string>
		<string>block</string>
		<string>uni2589</string>
		<string>uni258A</string>
		<string>uni258B</string>
		<string>lfblock</string>
		<string>uni258D</string>
		<string>uni258E</string>
		<string>uni258F</string>
		<string>rtblock</string>
		<string>filledbox</string>
		<string>H22073</string>
		<string>uni25A3</string>
		<string>H18543</string>
		<string>H18551</string>
		<string>triagup</string>
		<string>uni25B3</string>
		<string>uni25B4</string>
		<string>uni25B5</string>
		<string>uni25B6</string>
		<string>uni25B7</string>
		<string>uni25B8</string>
		<string>uni25B9</string>
		<string>triagrt</string>
		<string>uni25BB</string>
		<string>triagdn</string>
		<string>uni25BD</string>
		<string>uni25BE</string>
		<string>uni25BF</string>
		<string>uni25C0</string>
		<string>uni25C1</string>
		<string>uni25C2</string>
		<string>uni25C3</string>
		<string>triaglf</string>
		<string>uni25C5</string>
		<string>H18533</string>
		<string>uni25FB</string>
		<string>uni25FC</string>
		<string>uni25FD</string>
		<string>uni25FE</string>
		<string>uni26A1</string>
		<string>uniE0A0</string>
		<string>uniE0A1</string>
		<string>uniE0A2</string>
		<string>uniE0B0</string>
		<string>uniE0B1</string>
		<string>uniE0B2</string>
		<string>uniE0B3</string>
		<string>Abreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Cdotaccent</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ecaron</string>
		<string>Edotaccent</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Hbar</string>
		<string>Idotaccent</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Kcommaaccent</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>abreve</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>cdotaccent</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ecaron</string>
		<string>edotaccent</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>hbar</string>
		<string>idotless</string>
		<string>idotaccent</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>jdotless</string>
		<string>kcommaaccent</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>currency</string>
		<string>euro</string>
		<string>checkmark</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>hungarumlautcomb</string>
		<string>caroncomb.alt</string>
		<string>circumflexcomb</string>
		<string>caroncomb</string>
		<string>brevecomb</string>
		<string>ringcomb</string>
		<string>tildecomb</string>
		<string>macroncomb</string>
		<string>commaturnedabovecomb</string>
		<string>commaaccentcomb</string>
		<string>cedillacomb</string>
		<string>ogonekcomb</string>
		<string>strokeshortcomb</string>
		<string>strokelongcomb</string>
		<string>slashshortcomb</string>
		<string>slashlongcomb</string>
		<string>dotaccent</string>
		<string>tilde</string>
		<string>bitcoin</string>
	</array>
</dict>
</plist>
